In [65]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [66]:
data=pd.read_csv('Train.csv',delimiter=',')

In [67]:
# let's takes only Age
data=data[['Age','Pclass','Fare','Survived']]

In [68]:
 data.isnull().mean()*100

Age         19.86532
Pclass       0.00000
Fare         0.00000
Survived     0.00000
dtype: float64

In [69]:
# let's impute missing values using KNNimputer
from sklearn.impute import KNNImputer,SimpleImputer

In [70]:
imputer=KNNImputer()

In [71]:
x=data[['Age','Pclass','Fare']]

In [72]:
y=data['Survived']

In [73]:
# train test split
x_train,x_test,y_train,y_test=train_test_split(x,y)

In [74]:
x_test

      Age  Pclass     Fare
326  61.0       3   6.2375
63    4.0       3  27.9000
322  30.0       2  12.3500
309  30.0       1  56.9292
261   3.0       3  31.3875
..    ...     ...      ...
20   35.0       2  26.0000
573   NaN       3   7.7500
283  19.0       3   8.0500
304   NaN       3   8.0500
876  20.0       3   9.8458

[223 rows x 3 columns]

In [75]:
knn=KNNImputer(n_neighbors=3,weights='distance')

In [76]:
x_train_knn=knn.fit_transform(x_train)

In [77]:
x_test_knn=knn.transform(x_test)

In [78]:
from sklearn.linear_model import LogisticRegression

In [79]:
pd.DataFrame(x_train_knn).isnull().mean()

0    0.0
1    0.0
2    0.0
dtype: float64

In [80]:
model=LogisticRegression()

In [81]:
model.fit(x_train_knn,y_train)

LogisticRegression()

In [82]:
predict=model.predict(x_test_knn)

In [83]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,predict)

0.7085201793721974

# let's do it with mean and see how is the result

In [84]:
data1=pd.read_csv('Train.csv',delimiter=',')

In [85]:
data=data[['Age','Pclass','Fare','Survived']]

In [86]:
data.isnull().mean()*100

Age         19.86532
Pclass       0.00000
Fare         0.00000
Survived     0.00000
dtype: float64

In [88]:
x=data[['Age','Pclass','Fare']]

In [87]:
y=data['Survived']

In [89]:
x1_train,x1_test,y1_train,y1_test=train_test_split(x,y)

In [90]:
imputer1=SimpleImputer()

In [91]:
x1_train_mean=imputer1.fit_transform(x1_train)

In [93]:
pd.DataFrame(x1_train_mean).isnull().mean()

0    0.0
1    0.0
2    0.0
dtype: float64

In [94]:
x1_test_mean=imputer1.transform(x1_test)

In [95]:
model1=l=LogisticRegression()

In [96]:
model1.fit(x1_train_mean,y1_train)

LogisticRegression()

In [98]:
predict1=model1.predict(x1_test_mean)

In [99]:
accuracy_score(predict1,y_test)

0.57847533632287

#  From the accuracy score of knn imputer and mean imputer we can see that 
# accuracy score was improved by using knn imputer